* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	font-size: 62.5%; /*10px*/
	height: 100%;
}

nav {
	display: flex;
	border-bottom: 2px solid grey;
}

.navbar-logo {
	width: 5rem;
	margin: 1.5rem 0 1.5rem 5.5rem;
}

.navbar-first-half-column {
	display: flex;
	width: 50%;
	justify-content: flex-start;
}

.navbar-second-half-column {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	margin-right: 3rem;
}

.navbar-button {
	align-self: center;
	padding: .4rem .6rem;
	margin: 1em;
	border-radius: 5px;

}

.signup-button {
	border-style: none;
	padding: .5rem .7rem;
	background: rgb(178, 21, 178);
	color: rgb(255, 255, 255);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url("/pictures/happy-group.jpg");
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
	font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
